.card {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 2rem;
	position: relative; /* Needed for banner JS animation */
}

.card-single {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	padding: 2rem;
	margin-top: 5rem;
}

.card-home {
	*background-image: url("https://i.imgur.com/kiuQrs6.png");
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: 100%;
	*padding-bottom: 11rem;
	min-height: 16rem;
}

@media
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (in-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {
	.title-banner + .common-content .card {
		margin-top: 0rem;
	}

	.card {
		margin-top: 1rem;
	}
}