* {
	font-family: sans-serif;
}
body {
	margin: 0;
	background-color: #f4f4f4;
	#background-color: white;
	
	--std-padding: 1em;
	
	/* Used for side to side padding of main content*/
	--global-content-padding: 10%;
}

.common-content {
	#padding-top: 5em;
	padding-left: var(--global-content-padding);
	padding-right: var(--global-content-padding);
	#animation: 1s ease-out 0s 1 fadeup;
}

@keyframes fadeup {
	0% {
		transform: translateY(1em);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}