@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	font-family: 'Noto Sans', sans-serif;
	word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	background-color: #f4f4f4;	
	
	--std-padding: 1rem;
	
	--highlight-colour: #00be8d;
	--highlight-colour-banner: #00be8dee;
	
	/* Used for side to side padding of main content*/
	--global-content-padding: 10%;
	--global-max-content-width: 75rem;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

a {
    text-decoration: none;
	color: inherit;
	font-weight: 600;
}

.common-content {
	*padding-top: 5rem;
	padding-left: var(--global-content-padding);
	padding-right: var(--global-content-padding);
	max-width: var(--global-max-content-width);
	margin: auto;
	padding-bottom: calc(var(--global-content-padding) / 2);
	*animation: 1s ease-out 0s 1 fadeup;
}

.common-static-image {
	object-fit: scale-down;
	max-width: 100%;
}

@keyframes fadeup {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

select {
	padding: 0.5em;
	border-radius: 0.3rem;
}

select:hover {
	border-color: #6FC6F5;
}

select:focus {
	border-color: #129EE9;
}

.common-table {
	border-collapse: collapse;
}

.common-table td, .common-table tr, .common-table th {
	border: 1px solid black;
	padding: 8px;
}

.common-container-centre {
	text-align: center;
}

.superscript {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	white-space: nowrap;
}

@media
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (in-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {
	body {
		/* Used for side to side padding of main content*/
		--global-content-padding: 0%;
	}

	.superscript {
		white-space: normal;
	}
}

@media only screen and (max-width: 768px) {
	body {
		/* Used for side to side padding of main content*/
		--global-content-padding: 0%;
	}

	.superscript {
		white-space: normal;
	}
}
