@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
	font-family: 'Noto Sans', sans-serif;
	word-wrap: break-word;
	-webkit-tap-highlight-color: transparent;
}

body {
	margin: 0;
	background-color: #f4f4f4;	
	
	--std-padding: 1rem;
	
	--highlight-colour: #00be8d;
	--highlight-colour-banner: #00be8dee;
	
	/* Used for side to side padding of main content*/
	--global-content-padding: 10%;
	--global-max-content-width: 75rem;
}

input:focus, textarea:focus, select:focus {
	outline: none;
}

a {
    text-decoration: underline solid transparent;
	color: inherit;
	font-weight: 600;
}

a:hover {
	text-decoration: underline solid Currentcolor;
	transition: all 0.15s ease-in-out, height 0s;
}

hr {
	border: none;
    border-top: 1px solid grey;
}

.hr-strong {
    border-top: 2px solid grey;
}

.common-content {
	padding-left: var(--global-content-padding);
	padding-right: var(--global-content-padding);
	max-width: var(--global-max-content-width);
	margin: auto;
	padding-bottom: calc(var(--global-content-padding) / 2);
	*animation: 1s ease-out 0s 1 fadeup;
}

.common-static-image {
	object-fit: scale-down;
	max-width: 100%;
}

@keyframes fadeup {
	0% {
		transform: translateY(1rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

select {
	padding: 0.5em;
	border-radius: 0.3rem;
}

select:hover {
	border-color: #6FC6F5;
}

select:focus {
	border-color: #129EE9;
}

.common-table {
	border-collapse: collapse;
}

.common-table td, .common-table tr, .common-table th {
	border: 1px solid black;
	padding: 8px;
}

.common-container-centre {
	text-align: center;
}

.superscript {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	white-space: nowrap;
}

#fullscreen-message {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0.75);
}

.loading {
	text-align: center;
}

.loading > div {
	width: 1.25rem;
	height: 1.25rem;
	background-color: black;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading .bounce1 {
	animation-delay: -0.32s;
}

.loading .bounce2 {
	animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { transform: scale(0) }
	40% { transform: scale(1.0) }
}

@media
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (in-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px) {
	body {
		/* Used for side to side padding of main content*/
		--global-content-padding: 0%;
	}

	.superscript {
		white-space: normal;
	}
}

@media only screen and (max-width: 768px) {
	body {
		/* Used for side to side padding of main content*/
		--global-content-padding: 0%;
	}

	.superscript {
		white-space: normal;
	}
}
