body {
	--input-colour: #46b8da;
	--load-colour-light: #5bc0de;
	--load-colour-dark: #31b0d5;
	--error-colour: red;
	--good-colour: green;
	--forms-icon-size: 3.25rem;
	--forms-icon-padding: 4rem;
	--forms-border-radius: 3px;
}

input {
	width: calc(100% - var(--forms-icon-padding) - 0.25rem);
	height: 3rem;
	line-height: 1.4;
}

input[type='checkbox'] {
	width: 1.5rem;
	height: 1.5rem;
	padding-right: 1rem;
	cursor: pointer;
}

.checkbox-group {
	display: flex;
    vertical-align: middle;
	align-items: center;
	border-radius: var(--forms-border-radius);
	height: 2rem;
}

.checkbox-group:hover {
	background-color: whitesmoke;
}

.checkbox-group label {
	padding-left: 0.5rem;
	width: 100%;
	height: 100%;
	cursor: pointer;
	display: flex;
	align-items: center;
}

textarea:focus, input:focus {
	outline: 0;
	border-color: var(--input-colour);
	box-shadow: inset 0px 0px 3px 0px var(--input-colour);
}

.input-error {
	border: 1px solid var(--error-colour);
}

.input-error:focus {
	border-color: var(--error-colour);
	box-shadow: inset 0px 0px 3px 0px var(--error-colour);
}

textarea {
	border-width: thin;
	width: 100%;
	resize: vertical;
	padding: 0.4rem;
	box-sizing: border-box;
	min-height: 5rem;
}

textarea, input, .captcha-image {
	box-shadow: inset 0 1px 3px #ddd;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: var(--forms-border-radius);
	transition: all 0.35s ease-in-out, height 0s;
	font-size: 1rem;
}

.forms-param-error {
	color: red !important;
}

.forms-param-good {
	color: green;
}

.forms-small-text {
	font-size: 0.75rem;
	display: inline-block;
	color: grey;
}

.forms-input {
	width: 100%;
	max-width: 500px;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 0.5rem;
}

.forms-input, textarea {
	margin-top: 0.25rem;
}

.forms-input-error {
	border-style: solid;
	border-color: red !important;
}

.forms-input-error:focus {
	box-shadow: inset 0px 0px 3px 0px var(--error-colour) !important;
}

input:focus + .input-icon i:before {
	/* Method 1: with filters has transition issue with multiple filters : https://codepen.io/sosuke/pen/Pjoqqp */
	/* filter: invert(74%) sepia(41%) saturate(1047%) hue-rotate(161deg) brightness(89%) contrast(92%); */
	background: var(--input-colour);
}

input:focus + .input-icon-error i:before {
	background: var(--error-colour);
}

.input-icon i:before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;

	/* Method 2: using solid background with SVG masks, not widely officially supported */
	background: #ccc;
	-webkit-mask-size: cover;
	mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	mask-position: center center;
	-webkit-mask-size: 1.5rem;
	mask-size: 1.5rem;

	/* Method 1: with filters */
	/* background-size: 1.5rem;
	background-repeat: no-repeat;
	background-position: center center;
	filter: invert(84%) sepia(1%) saturate(415%) hue-rotate(45deg) brightness(93%) contrast(108%);
	background-image: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/envelope.svg); */

	transition: all 0.35s ease-in-out;
}

.input-icon-error i:before {
	background: var(--error-colour);
}

input:focus + .input-icon:after {
	border-right-color: var(--input-colour);
}

input:focus + .input-icon-error:after {
	border-right-color: var(--error-colour);
}

.input-group {
	position: relative;
}

.input-group input {
	padding-left: var(--forms-icon-padding);
}

.input-group .input-icon {
	position: absolute;
	top: 0;
	left: 0;
	width: var(--forms-icon-size);
	height: var(--forms-icon-size);
	line-height: 3.4em;
	text-align: center;
	pointer-events: none;
}

.input-group .input-icon:after {
	position: absolute;
	top: 0.6em;
	bottom: 0.6em;
	left: var(--forms-icon-size);
	display: block;
	border-right: 1px solid #e5e5e5;
	content: "";
	transition: all 0.35s ease-in-out;
}

.input-group .input-icon i {
	transition: all 0.35s ease-in-out;
}

.captcha-image {
	height: 4rem;
	transition: transform 0.2s;
}

.captcha-image-flip {
	transform: rotateY(90deg);
	transition: transform 0.1s;
}

.captcha-refresh {
	content: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/refresh.svg);
	max-height: 1.25rem;
	cursor: pointer;
	opacity: 0.5;
}

.captcha-refresh:hover {
	opacity: 1;
}

.captcha-spin {
	animation: spin 0.5s infinite linear both;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

.input-shake {
	animation: shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
}

@keyframes shake {
	10%, 90% { transform: translate3d(-1px, 0, 0); }
	20%, 80% { transform: translate3d(2px, 0, 0); }
	30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
	40%, 60% { transform: translate3d(4px, 0, 0); }
}

/* https://icons.getbootstrap.com/ */
.input-icon-email:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/envelope.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/envelope.svg);
}

.input-icon-user:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/person-circle.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/person-circle.svg);
}

.input-icon-security:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/key-fill.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/key-fill.svg);
}

.input-icon-subject:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/question-circle-fill.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/question-circle-fill.svg);
}

.input-icon-palette:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/palette-fill.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/palette-fill.svg);
}

.input-icon-width:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/border-width.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/border-width.svg);
}

.input-icon-bricks:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/bricks.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/bricks.svg);
}

.input-icon-search:before {
	-webkit-mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/search.svg);
	mask: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/search.svg);
}

.inline-icon-comment {
	background-image: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/chat-left-text.svg);
	background-size: contain;
	background-repeat: no-repeat;
	padding-right: 3rem;
	opacity: 0.5;
}

.inline-icon-reply {
	background-image: url(https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/forms/reply-fill.svg);
	background-size: contain;
	background-repeat: no-repeat;
	width: 1rem;
	height: 1rem;
	margin-left: 0.5rem;
	transform: scaleX(-1) rotate(-90deg);
	opacity: 0.5;
}

.comments-placeholder-container {
    width: auto !important;
    padding: 0.5rem;
    background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: var(--forms-border-radius);
}

.comments-placeholder {
	background-image: linear-gradient(45deg, var(--load-colour-dark) 25%, var(--load-colour-light) 25%, var(--load-colour-light) 50%, var(--load-colour-dark) 50%, var(--load-colour-dark) 75%, var(--load-colour-light) 75%, var(--load-colour-light) 75%, var(--load-colour-light) 100%);
	background-size: 2rem 2rem;
	background-position: 2rem 2rem;
	animation: barberpole 1s infinite linear, expand 15s;
	color: white;
	text-shadow: 1px 1px 1px black;
	text-align: center;
    border-radius: var(--forms-border-radius);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-shadow: inset 0px -1px 2px rgb(0 0 0 / 10%);
	padding-bottom: 3px; /* May need changing with different font */
	font-size: 0.75rem;
}

.comments-placeholder-clear-animation {
	animation: barberpole 1s infinite linear !important;
}

@keyframes expand {
	0% { width: 0%; }
	100% { width: 100%; }
}

@keyframes barberpole {
	0% { background-position: 2rem; }
	100% { background-position: 0rem; }
}

#toast {
	display: block !important;
	visibility: visible;
	opacity: 0;
	min-width: min(75%, 25rem);
	transform: translateX(-50%);
	color: white;
	background-color: black;
	text-align: center;
	border-radius: var(--forms-border-radius);
	position: fixed;
	z-index: 1000;
	left: 50%;
	top: 4rem;
	max-width: 5rem;
}

#toast.error {
	background-color: #e51c23;
}

#toast.warning {
	background-color: #ff9800;
}

#toast.good {
	background-color: #4caf50;
}

#toast.show {
	animation: showtoast 0.5s;
	opacity: 1;
	transition: opacity 0.5s;
}

#toast.hide {
	opacity: 0;
	transition: all 0.5s;
	pointer-events: none;
}

@keyframes showtoast {
	from { transform: translateY(-2rem) translateX(-50%); }
	to { transform: translateY(0) translateX(-50%); }
}

#toast button {
	position: fixed;
	top: 0px;
	right: 0px;
	width: 2.5rem;
	height: 2.5rem;
	float: right;
	background-color: transparent;
	font-size: 2rem;
	line-height: 2rem;
	border: none;
	color: white;
	opacity: 70%;
	cursor: pointer;
}

#toast button:hover {
	opacity: 1;
}

#toast-message {
	padding-left: 3rem;
	padding-right: 3rem;
}
