.forms-param-error {
	color: red;
}

.forms-param-good {
	color: green;
}

.forms-small-text {
	font-size: 0.75rem;
	display: inline-block;
	color: grey;
}

.forms-input {
	width: 100%;
	max-width: 500px;
	display: inline-block;
	box-sizing: border-box;
	margin-top: 0.25rem;
	margin-right: 0.5rem;
	padding: 0.4rem;
	border-width: thin;
}

.forms-input:focus, textarea:focus {
	border-style: solid;
	border-color: #46b8da;
	box-shadow: 0px 0px 6px 0px #46b8da;
}

.forms-input-error {
	border-style: solid;
	border-color: red !important;
}

.forms-input-error:focus {
	box-shadow: 0px 0px 6px 0px red;
}

textarea {
	border-width: thin;
	width: 100%;
	resize: vertical;
	padding: 0.4rem;
	box-sizing: border-box;
}

.captcha-image {
	border: 1px solid gray;
	height: 4rem;
}

#fullscreen-message {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: auto;
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
	background-color: rgba(255,255,255,0.75);
}

.loading {
	text-align: center;
}

.loading > div {
	width: 1.25rem;
	height: 1.25rem;
	background-color: black;
	border-radius: 100%;
	display: inline-block;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading .bounce1 {
	animation-delay: -0.32s;
}

.loading .bounce2 {
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { transform: scale(0) }
	40% { transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% {
		transform: scale(0);
	} 40% {
		transform: scale(1.0);
	}
}
