.forms-param-error {
	color: red;
}

.forms-small-text {
	font-size: 0.75rem;
	display: inline-block;
	color: grey;
}

.forms-input {
	width: 100%;
	max-width: 500px;
	display: inline-block;
	box-sizing: border-box;
	margin-right: 0.5rem;
}

textarea {
	width: 100%;
	resize: vertical;
}
