.logo-group {
	padding-bottom: 1rem;
}

.logo-little {
	border: none;
	margin-right: 0.3rem;
}

.logo-little::before
{
	content: "";
	position: absolute;
	z-index: 50;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.logo-little, .logo-little::before {
	width: 2rem;
	height: 2rem;
}

.logo-little:hover::before {
	animation: spin-animation 0.2s;
}

@keyframes spin-animation {
	0%   { transform: rotate(0deg); }
	50%   { transform: rotate(20deg); }
	100% { transform: rotate(0deg); }
}

.logo-tooltip {
    display: inline-block;
    position: relative;
    text-align: left;
}

.logo-tooltip .logo-tooltip-bottom {
    left: 50%;
	top: 120%;
    transform: translate(-50%, 0);
    padding: 1rem;
    background-color: var(--navbar-background-colour);
    border-radius: 0.5rem;
    position: absolute;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.logo-tooltip:hover .logo-tooltip-bottom {
    display:block;
	z-index: 51;
}

.logo-tooltip .logo-tooltip-bottom i {
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.logo-tooltip .logo-tooltip-bottom i::after { /* arrow */
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: var(--navbar-background-colour);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

.logo-tooltip .logo-tooltip-bottom p {
	margin: 0;
	white-space: nowrap;
	color: white;
	font-size: 0.7rem;
}

.xilinx-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/xilinx.svg");
}

.cpp-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/cpp.svg");
}

.csharp-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/csharp.svg");
}

.c-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/c.svg");
}

.java-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/java.svg");
}

.jira-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/jira.svg");
}

.linux-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/linux.svg");
}

.gradle-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/gradle.svg");
}

.yocto-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/yocto.svg");
}

.q-pulse-logo::before {
    background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/qpluse.svg");
}

.freertos-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/freertos.svg");
}

.vivado-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/vivado.png");
}

.vitis-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/vitis.png");
}

.visual-studio-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/visual-studio.svg");
}

.cypress-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/cypress.svg");
}

.cmake-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/cmake.svg");
}

.atmel-studio-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/atmel-studio.png");
}

.clion-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/clion.svg");
}

.nxp-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/nxp.svg");
}

.microchip-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/microchip.svg");
}

.aws-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws.svg");
}

.aws-ec2-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws-ec2.svg");
}

.aws-lambda-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws-lambda.svg");
}

.aws-load-balancer-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws-load-balancer.svg");
}

.aws-sqs-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws-sqs.svg");
}

.aws-dyndb-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws-dynamodb.svg");
}

.eclipse-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/eclipse.svg");
}

.open-suse-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/aws-dynamodb.svg");
}

.postgres-sql-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/postgres-sql.svg");
}

.mqtt-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/mqtt.svg");
}

.jenkins-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/jenkins.svg");
}

.git-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/git.svg");
}

.svn-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/svn.svg");
}
 
.altium-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/altium.png");
}

.solid-works-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/solid-works.svg");
}

.vhdl-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/vhdl.svg");
}

.verilog-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/verilog.svg");
}

.device-tree-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/device-tree.svg");
}

.u-boot-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/u-boot.svg");
}

.atmel-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/atmel.svg");
}

.iec-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/iec.svg");
}

.gwt-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/gwt.svg");
}

.white-rabbit-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/white-rabbit.jpg");
}

.test-stand-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/test-stand.png");
}

.st-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/st.svg");
}

.buildroot-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/buildroot.png");
}

.ise-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/ise.png");
}

.tibco-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/tibco.svg");
}

.tomcat-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/tomcat.svg");
}

.rest-logo::before {
	background-image: url("https://raw.githubusercontent.com/nathros/nathros.github.io/master/images/cv/logos/rest.png");
}

