.tab-container {
	margin-bottom: 3rem;
}

.tab-container input {
	display: none;
}

.tab-container .tab {
	height: 3rem;
}

.tab {
	margin-left: var(--global-margin);
	margin-right: var(--global-margin);
}

.tab-container .tab ul {
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.tab-container .tab ul li ul li {
	position: relative;
	cursor: pointer;
	color: grey;
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.08);
}

.tab-container .tab ul li ul li:hover {
	box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.16);
	animation-duration: 0.5s;
	animation-fill-mode: both;
	animation-name: shadowIn;
}

@keyframes shadowIn{
	0% {}
	100% {
		color: black;
		background-color: rgba(255,255,255,0.25);
	}
}

.tab-container .tab ul li label {
	display: block;
	cursor: pointer;
	text-align: center;
	position: relative;;
	z-index: 3;
	height: 100%;
}

.tab-container .tab ul li label div {
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.tab-container .tab-content-container {
	position: relative;
	z-index: 1;
}

.tab-content-container {
	background-color: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	margin-left: var(--global-margin);
	margin-right: var(--global-margin);
}

.tab-container .tab-content-container #container-tab-1,
.tab-container .tab-content-container #container-tab-2,
.tab-container .tab-content-container #container-tab-3,
.tab-container .tab-content-container #container-tab-4,
.tab-container .tab-content-container #container-tab-5 {
	padding: 1rem;
	display: none;
}

#tab-1:checked~.tab ul #tab-id-1,
#tab-2:checked~.tab ul #tab-id-2,
#tab-3:checked~.tab ul #tab-id-3,
#tab-4:checked~.tab ul #tab-id-4,
#tab-5:checked~.tab ul #tab-id-5 {
	color: black;
	font-weight: bold;
	font-size: 1rem;
	background: white;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

#tab-1:checked~.tab ul #tab-id-1:hover,
#tab-2:checked~.tab ul #tab-id-2:hover,
#tab-3:checked~.tab ul #tab-id-3:hover,
#tab-4:checked~.tab ul #tab-id-4:hover,
#tab-5:checked~.tab ul #tab-id-5:hover {
	background-color: white !important; /* Stops selected tab hover from shadowIn */
}


#tab-1:checked~.tab ul li ul #tab-id-1 div,
#tab-2:checked~.tab ul li ul #tab-id-2 div,
#tab-3:checked~.tab ul li ul #tab-id-3 div,
#tab-4:checked~.tab ul li ul #tab-id-4 div,
#tab-5:checked~.tab ul li ul #tab-id-5 div {
	display: block;
}

#tab-1:checked~ .tab-content-container #container-tab-1,
#tab-2:checked~ .tab-content-container #container-tab-2,
#tab-3:checked~ .tab-content-container #container-tab-3,
#tab-4:checked~ .tab-content-container #container-tab-4,
#tab-5:checked~ .tab-content-container #container-tab-5 {
	display: block;
}

.tab-wrapper {
	height: 3.1rem;
	flex-direction: row;
	align-items: stretch;
}

.tab-wrapper ul {
	display: flex;
}

.tab-wrapper ul li {
	flex: 1;
}

.shadow-cover {
	margin-top: -13px;
	position: relative;
	width: 100%;
	background: white;
	z-index: 2;
	height: 12px;
	display: none;
}

.tab-animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fadeIn;
}

@keyframes fadeIn{
	0% {
		opacity:0
	}
	100% {
		opacity:1
	}
}
