.title-banner {
	background-position: top center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 3rem;
	height: 15rem;
}
.title-banner div {
	margin-top: auto;
	background-color: var(--highlight-colour);
	margin-left: var(--global-content-padding);
	margin-right: var(--global-content-padding);
	padding: 2rem 2rem 1rem 2rem;
	opacity: 0.95;
}

.title-banner div p {
	margin: 0;
	margin-bottom: 0.3rem;
	font-size: 1.5rem;
}