.toggle-label {
	display: block;
	padding: 0.25rem;
	margin-left: -0.25rem;
	cursor: pointer;
    display: flex;
    align-items: center;
}

.toggle-label:hover {
	background-color: WhiteSmoke;
}

.toggle-input {
	position: absolute;
	visibility: hidden;
}

.toggle-container {
	position: relative;
	overflow-y: visible;
}

.toggle-content {
	overflow-y: visible;
	height: 0px !important; /* Intentionally conflicts with min-height in toggle-div.js for dynamic height transition */
}

.toggle-container .toggle-content {
	width: 100%;
	display: table-cell;
	/*overflow: auto; /* was hidden, on close briefly shows scrollbar */
	/*overflow-y: hidden; */
	transition: all 0.5s ease;
	/*height: 50px; /* used for move animation cannot be set dynamically in css so done in toggle-div.js */
}

.toggle-container input[type="checkbox"]:checked + .toggle-content {
	height: 0; /* used for move animation */
	opacity: 0; /* used for fade animation */
	display: block;
	overflow-y: hidden;
}

.toggle-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: translateY(-2px) rotate(45deg);
	transition: all 0.5s ease;
	position: absolute;
	top: 0.75rem;
	right: 0.5rem;
	pointer-events: none;
}

.toggle-container input[type="checkbox"]:checked ~ .toggle-arrow {
	transform: rotate(225deg);
}

.toggle-cross {
	display: inline-block;
	padding: 3px;
	transition: all 0.5s ease;
	position: absolute;
	top: 12px;
	right: 12px;
	pointer-events: none;
}

.toggle-cross:before, .toggle-cross:after {
	position: absolute;
	content: "";
	height: 20px;
	top: -7px;
	width: 2px;
	left: 2px;
	background-color: black;
}

.toggle-cross:before {
	transform: rotate(45deg);
}
.toggle-cross:after {
	transform: rotate(-45deg);
}

.toggle-container input[type="checkbox"]:checked ~ .toggle-cross {
	transform: rotate(-45deg);
}

.toggle-circle {
	width: 20px;
	height: 20px;
	top: -5px;
	left: -5px;
	background-color: rgba(200, 200, 200, 1);
	position: absolute;
	border-radius: 100%;
	animation: bubble 3s infinite;
}

@keyframes bubble {
	0% {
		transform: scale3d(.4, .4, .4);
		opacity: 0;
	}
	75% {
		transform: scale3d(1.75, 1.75, 1.75);
		opacity: 0.5;
	}
	100% {
		opacity: 0;
	}
}
