.toggle-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg) translateY(-0.2rem) translateX(-0.2rem);
	transition: all 0.5s ease;
	position: absolute;
	top: 0.75rem;
	right: 0.5rem;
	pointer-events: none;
}

.toggle-label {
	display: block;
	padding: 0.25rem;
	margin-left: -0.25rem;
	cursor: pointer;
}

.toggle-label:hover {
	background-color: WhiteSmoke;
}

.toggle-input {
	position: absolute;
	visibility: hidden;
}

.toggle-container {
	position: relative;
	overflow-y: visible;
}

.toggle-content {
	overflow-y: visible;
}

.toggle-container .toggle-content {
	width: 100%;
	display: table-cell;
	/*overflow: auto; /* was hidden, on close briefly shows scrollbar */
	/*overflow-y: hidden; */
	transition: all 0.5s ease;
	/*height: 50px; /* used for move animation cannot be set dynamically in css so done in toggle-div.js */
}

.toggle-container input[type="checkbox"]:checked + .toggle-content {
	height: 0; /* used for move animation */
	opacity: 0; /* used for fade animation */
	display: block;
	overflow-y: hidden;
}

.toggle-container input[type="checkbox"]:checked ~ .toggle-arrow {
	transform: rotate(225deg);
}
