.tooltip {
	position: relative;
	display: inline-block;
	text-decoration: underline solid transparent;
}

.tooltip .tooltip-inner {
	visibility: hidden;
	float: right;
	background-color: var(--navbar-background-colour);
	padding: 0.5rem;
	color: white;
}

.tooltip-inner {
	border-radius: 0.5rem;
	top: 100%;
	transition: visibility 0s linear, opacity 0.25s linear;
	opacity: 0;
	z-index: 1;
	position: fixed;
}

.tooltip-inner img {
	width: 50vw;
	border-radius: 0.25rem;
}

.tooltip-inner p {
	margin: auto;
	text-align: justify;
}

.tooltip:hover .tooltip-inner {
	visibility: visible;
	opacity: 1;
	position: absolute;
}

.tooltip:hover {
	text-decoration: underline solid Currentcolor;
	transition: all 0.15s ease-in-out;
}

@media
only screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
only screen and (in-resolution: 192dpi) and (min-width: 320px),
only screen and (min-resolution: 2dppx) and (min-width: 320px),
only screen and (max-width: 768px) {
	.tooltip-inner img {
		width: 75vw;
	}
}
